*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Segoe UI', sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background: linear-gradient(135deg,#0f172a,#020617);
color:white;
}

.container{
background:#111827;
padding:50px;
border-radius:15px;
text-align:center;
box-shadow:0 10px 40px rgba(0,0,0,0.6);
}

#display{
font-size:60px;
letter-spacing:3px;
margin-bottom:35px;
font-weight:600;
}

.buttons{
display:flex;
gap:15px;
justify-content:center;

}

button{
padding:12px 25px;
font-size:16px;
border:none;
border-radius:8px;
cursor:pointer;
transition:all 0.3s ease;
color:white;
}

.start{
background:#22c55e;
}

.pause{
background:#f59e0b;
}

.reset{
background:#ef4444;
}

button:hover{
transform:scale(1.08);
opacity:0.9;
}